{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Leaderboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- So there's a leaderboard we have, and it's got users, successes, attempts, laplace_estimator, and submitted times -->
<table>
  <tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Fraction Correct</th>
    <th>Skill Level</th>
    <th>Time Submitted</th>
  </tr>
  {% for row in leaderboard %}
  <tr>
    <td>{{ row['rank'] }}</td>
    <td>{{ row['username'] }}</td>
    <td>{{ row['successes'] }}/{{ row['attempts'] }}</td>
    <td>{{ row['laplace_estimator'] }}</td>
    <td>{{ row['submitted'] }}</td>
  </tr>
  {% endfor %}
{% endblock %}
