{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Submit To Leaderboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>You've gotten {{ session["correct_guesses"] }} correct out of {{ session["total_guesses"] }} guesses. You can submit your score to the leaderboard below.</p>
<form method="post">
  <label for="username">Username</label>
  <input name="username" id="username" required>
  <br>
  <label for="i_didnt_cheat">I promise that I didn't cheat</label>
  <input type="checkbox" name="i_didnt_cheat" id="i_didnt_cheat" required>
  <br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
