<!doctype html>
<title>{% block title %}{% endblock %} - Guess That AXRP!</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<style>
  /* stolen from bestmotherfucking.website */
  body{
      margin:1em auto;
      max-width:40em;
      padding:0 .62em 3.24em;
      font:1.2em/1.62 sans-serif
  }
  h1,h2,h3 {
      line-height:1.2
  }
  @media print{
      body{
	  max-width:none
      }
  }
  .select2-selection__rendered {
      line-height: 35px !important;
  }
  .select2-container .select2-selection--single {
      height: 38px !important;
  }
  .select2-selection__arrow {
      height: 37px !important;
  }
</style>
<nav>
  <h1>Guess That AXRP!</h1>
  <ul>
    <li><a href="{{ url_for('welcome.index') }}">Home</a></li>
    <li><a href="{{ url_for('leaderboard.index') }}">Leaderboard</a></li>
    {% if session['playing'] %}
    <li><a class="action" href="{{ url_for('guess.index') }}">Return to Game</a></li>
    {% endif %}
    <li><a href="https://axrp.net">AXRP Home</a></li>
  </ul>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
{% if session['playing'] %}
<form action={{ url_for('manage_session.end_session') }} method="get">
  <input type="submit" value="Clear game info" onclick="return confirm('Are you sure? This will delete your current game progress')" />
</form>
{% endif %}
